<div class="container">
    <div class="row">

        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
            <div class="subscribe-form-wrap">
                <h6>Mỗi Ngày Đều Vui</h6>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
            <h6 class="site-footer-title mb-3">Thành Viên</h6>

            <p class="mb-2">Nguyễn Ngọc Hân</p>
            <p class="mb-2">Lê Bá Khánh Duy</p>
            <p class="mb-2">Hoàng Lê Nguyên Mạnh</p>
            <p class="mb-2">Nguyễn Vũ Bảo</p>
         
        </div>
        <div class="col-lg-2 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
            <h6 class="site-footer-title mb-3">Useful Links</h6>

            <p><a href="./index.html">Home</a></p>
            <p><a href="./about.html">About</a></p>
            <p> <a href="./groupDiary.html">Group Diary</a></p>
            <p><a href="./technical.htm">Technical</a></p>
            <p><a href="./result.html">Result</a></p>
            <p> <a href="./styleGuide.html">StyleGuide</a></p>
        </div>

        <div class="col-lg-2 col-md-6 col-12">
            <h6 class="site-footer-title mb-3">Contact Us</h6>

            <ul class="social-icon">
                <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-instagram"></a>
                </li>

                <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-twitter"></a>
                </li>

                <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container pt-5">
    <div class="row align-items-center">
        
        <div class="col-lg-2 col-md-3 col-12">
            <a class="navbar-brand" href="index.html">
                <img src="images/Group-04.png" class="logo-image img-fluid" alt="templatemo pod talk">
            </a>
        </div>

        <div class="col-lg-7 col-md-9 col-12">
            <ul class="site-footer-links">
                <li class="site-footer-link-item">
                    <a href="./home.html" class="site-footer-link">Homepage</a>
                </li>

                <li class="site-footer-link-item">
                    <a href="./contact.html" class="site-footer-link">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-12">
            <p class="copyright-text mb-0">Copyright © 2036 Talk Pod Company
                <br><br>
                Design: <a rel="nofollow" href="https://templatemo.com/page/1" target="_parent">TemplateMo</a>
            </p>
        </div>
    </div>
</div>