<div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="index.html">
        <img src="images/Group-04.png" class="logo-image img-fluid" alt="templatemo pod talk">
    </a>

    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="technical.html">Technical</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="groupDiary.html">Group Diary</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="project.html">Project</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="styleGuide.html">Style Guide</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="result.html">Result</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>

        </ul>

        <div class="ms-5 ps-4">
            <a href="https://hci2024-group04.web.app/home.html" target="_blank" class="btn custom-btn custom-border-btn smoothscroll">Go to project</a>
        </div>
    </div>
</div>